@media screen and (min-width: 428px) {
    .container {
        max-width: 426px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 766px;
    }

    .header-flex {
        display: flex;
    }

    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-addrress-item {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .header-menu-list {
        display: flex;
    }

    .open-menu-btn {
        display: none;
    }

    .section_title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/bg-ds.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section_title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/bg-ds-2x.jpg);
        }
    }

    .main-title {
        font-size: 56px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    .desc-list-item {
        flex-basis: calc((100% - 24px) / 3);
    }

    .list-title {
        text-align: left;
    }

    .paragraph-desc {
        align-self: stretch;
    }

    .list-team {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }

    .section-img {
        margin-bottom: 0;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
    }

    .footer-content {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .wrap-footer-logo {
        align-items: flex-start;
    }

    .title-footer {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1156px;
    }

    .section_title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/background-hero.jpg);
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section_title {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/bg-2x.jpg);
        }
    }

    .main-title {
        margin-bottom: 48px;
    }

    .desc-list {
        gap: 23px;
    }

    .desc-list-item {
        flex-basis: calc((100% - 3 * 24px) / 4);
    }

    .list-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
    }

    .desc-item-icon {
        display: flex;
    }

    .title-doing {
        margin-top: 0;
        margin-bottom: 72px;
    }
    
    .section-doing {
        padding-bottom: 96px;
        display: flex;
    }
    
    .doing-img {
        display: flex;
        gap: 24px;
    }

    .list-team {
        display: flex;
        margin-left: 0;
        gap: 23px;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }

    .footer-content {
        gap: unset;
    }

    .wrap-footer-logo {
        margin-right: 120px;
    }

    .subscribe-footer {
        margin-left: 80px;
    }
}